# Module 10: Descriptive Statistics and Outliers
***

## What are statistics?

Statistics deal with collecting informative data, interpreting these data, and drawing conclusions about the data. Statistics are used across multiple disciplines and fuel business and policy decisions.

## Two types of statistics
***
#### Descriptive Statistics
Descriptive statistics use numeric and graphical techniques to summarize the characteristics of a set of data and to identify patterns within the dataset. Descriptive statistics also include graphically summarizing data and presenting the information in a meaningful (easy to interpret) way. 

#### Inferential Statistics
Inferential statistics use samples of data to make generalizations about a larger set of data (or a larger population). Inferential statistics use data to make estimates, decisions, and predictions about patterns and trends identified within a set of data. Inferential statistics are used to make conclusions beyond your immediate set of data.

## Import Libraries and Data

In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats ## new library alert! ##

## SciPy is used for scientific and mathematic computing; it provides functions for stats, 
# data manipulation, and data visualization

df = pd.read_excel("axisdata.xlsx")

df.head()

,Fname,Lname,Position,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jackie,Jackson,Trainee,F,32,Y,1,3
1,Mary,Patterson,Trainee,F,43,N,1,6
2,Tanya,Adams,Trainee,F,28,Y,1,2
3,Tanya,Henderson,Trainee,F,24,Y,1,5
4,Walter,Franklin,Trainee,M,25,Y,1,4

## Qualitative vs Quantitative Data
***

#### Quantitative Data
Data that are recorded on a numeric scale (i.e. age, weight, salary, number of empty seats on a plane, credit score etc). Quantitative variables are also called <b>numeric</b> variables. 

#### Qualitative Data
Data that cannot be measured on a numeric scale (i.e. eye color, type of car, blood type, race etc). These data can only be classified into one group of categories. Qualitative variables are also called <b>categorical</b> variables. Qualitative data also includes text and string data.

In [2]:
## Which variables are qualitative and which variables are quantitative?

df.head()

,Fname,Lname,Position,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jackie,Jackson,Trainee,F,32,Y,1,3
1,Mary,Patterson,Trainee,F,43,N,1,6
2,Tanya,Adams,Trainee,F,28,Y,1,2
3,Tanya,Henderson,Trainee,F,24,Y,1,5
4,Walter,Franklin,Trainee,M,25,Y,1,4

## Describing Qualitative Data
***

Qualitative data is best summarized by frequency tables. 

Frequency tables summarize categorical data into a table showing each category, number of observations that fall within each category, and the relative frequency of each category. 

Relative frequency is the number of specific observations out of the total number of observations, or the percentage of the total sample that fall within a specific group. Both representations of categorical data give insight into how common specific categories are within a set of data. 

<b>Bar charts</b> are ideal for graphically representing qualitative data as they visually show the frequency of observations across various groups. 

#### GRAPHIC SHOULD READ N = 150 !!!

<img src="FreqTable.png">

In [3]:
## Frequencies 

df["Gender"].value_counts()

M    510
F    489
Name: Gender, dtype: int64

In [4]:
## Relative Frequencies 

df["Gender"].value_counts(normalize=True)

M    0.510511
F    0.489489
Name: Gender, dtype: float64

In [5]:
## Multi-variable Frequencies 

pd.crosstab(df["Gender"], df["SalesTraining"], margins=False, normalize=False)

SalesTraining    N    Y
Gender
F              212  277
M              201  309

# { Exercise 1 }

    1. Import the "pokemon.csv" file; name the dataset 'poke'. Preview the first 5 rows. 
    2. Determine the frequencies of unique pokemon types (variable name: Type 1) in this dataset
    3. Determine the relative frequencies of the unique pokemon types (variable name: Type 1) in this dataset
    4. Create a crosstabs table that shows the frequency of pokemon stage (variable name: Stage) and legendary status (variable name: Legendary).

In [26]:
poke = pd.read_csv("pokemon.csv")

poke.head()

,Num,Name,Type 1,Type 2,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False

In [13]:
poke["Type 1"].value_counts()

Water       28
Normal      22
Poison      14
Grass       12
Fire        12
Bug         12
Electric     9
Rock         9
Ground       8
Psychic      8
Fighting     7
Ghost        3
Dragon       3
Fairy        2
Ice          2
Name: Type 1, dtype: int64

In [14]:
poke["Type 1"].value_counts(normalize=True)

Water       0.185430
Normal      0.145695
Poison      0.092715
Grass       0.079470
Fire        0.079470
Bug         0.079470
Electric    0.059603
Rock        0.059603
Ground      0.052980
Psychic     0.052980
Fighting    0.046358
Ghost       0.019868
Dragon      0.019868
Fairy       0.013245
Ice         0.013245
Name: Type 1, dtype: float64

In [20]:
pd.crosstab(poke["Legendary"], poke["Stage"], margins=True, normalize=False)

Stage       1   2   3  All
Legendary
False      75  56  16  147
True        4   0   0    4
All        79  56  16  151

## Describing Quantitative Data

There are many more techniques for describing quantitative data compared to qualitative. When summarizing quantitative data, the objective is to get a sense of how the data is clustered and the variation in numeric values. 

***

### Measures of Central Tendency

Measures of Central Tendency are estimates of what a "typical" value/data point is within your set of data. A measure of central tendency is a number around which an entire sample of data is spread. We can describe this central position using several statistics, including the mean (average), the median, and the mode. 

Measures of central tendency can be visualized with a frequency distribution (histogram). A frequency distribution is a description of values and how often each value occurs within your dataset. When you graph a frequency distribution a pattern/shape should give insight into which values occured the most/least. 

<img src="NormalDist.jpg">

***

#### Mean

The mean, which is the most commonly known and used measure of central tendency, is the arithmetic average of a set of numeric values. The mean is calculated by adding all the values together and dividing by the total number of values in the set of values. In specific sets of data, the mean is the central point in the frequency distribution aka the hump.

In [23]:
## Calculate the Mean of a column 

df["Hours Worked"].mean()

33.727727727727725

#### Median 

The median is the value which divides the data into two equal parts when the data is arranged from least to greatest. The median will be the middle value if the number of values is odd, otherwise, it will be the average of the two middle values if the number of values is even.

In [24]:
## Calculate the Median of a column 

df["Hours Worked"].median()

34.0

#### Mode 

The mode is the value that appears most frequently in a sample of data, or the value that has the highest frequency. It is possible for a set of data to have no mode, and it is possible for a set of data to have multiple modes.

In [25]:
## Calculate the Mode of a column 

df["Hours Worked"].mode()

0    38
Name: Hours Worked, dtype: int64

# { Exercise 2 }

    1. Using the pokemon dataset ('poke'), calculate the mean attack value (Attack) in the dataset.  
    2. Determine the median defense value (Defense). Write a single sentence on what your findings mean. 
    3. Determine the mode of the speed (Speed) column. Write a single sentence on what your findings mean.

In [27]:
poke["Attack"].mean()

72.54966887417218

In [28]:
poke["Defense"].median()

65.0

In [29]:
poke["Speed"].mode()

0    70
1    90
Name: Speed, dtype: int64

### Data Distribution and Measurement Sensitivity
***

### Normally distributed data vs. non-normally distributed data

Several statistics are suited for data that follows a <b>normal distribution</b>. When visualized, normally distributed data lies in a symmetrical pattern (bell-shape) where the majority of the data surrounds the mean with decreasing amounts evenly distributed to the left and the right. 

While this is the ideal, real-world data is not always normally distributed. Non-normal distribution is possible and there are several statistics that can still be used with non-normally distributed data. It is important to determine how your data is distributed before you embark on certain statistics. 

#### Distribution and Measure of Central Tendency

The shape of the data helps to determine which measure of central tendency should be reported. Some statistics are very sensitive to non-normal distributions, while others are more resilient. Three of the most common shapes to learn are symmetric, left-skewed, and right-skewed. <b>Skew</b> is simply a measure of the asymmetry of the distribution. <b>In the below images, while not shown, the values are increasing from left to right.</b> 

#### Symmetric Data
* mean, median, and mode are all the same here
* no skewness is apparent
* the distribution is described as symmetric

<img src="Symmetrical.jpg">

***

#### Left-skewed Data
* mean < median
* long tail on the left

<img src="LeftSkew.jpg">

***

#### Right-skewed Data
* mean > median
* long tail on the right

<img src="RightSkew.jpg">

***

### Considerations for Shape

When your data is skewed in either direction, you should consider the best measure of central tendency to report. The median is best used when you have skewed data. This is because the median is less affected by extreme values. 

If your data is skewed, this could be an indication that your data has extreme high or low values that are contributing to the skewness. Later in this lesson, we will talk about how to handle extreme values.

### Measures of Variability (or Spread)

Measures of Variability, or spread, describe the amount of dispersion in your data sample. In other words, measures of variability, describe how spread out values are. For example, in a sample of 100 students, the average test score is 75. However, not all students will have gotten a 75 - their scores will be spread out above and below the average, some will be higher and some lower. To describe the spread of our data, we can use several statistics, including range, standard deviation, percentiles, and quartiles.

***

#### Range

The range is the difference between the lowest and highest value in a set of data. For example, if the maximum value is 10 and the minimum value is 2, the range is 8. The larger the range, the larger the difference between the highest and lowest values.

In [30]:
## Calculate the range of values in a column

hrs_range = df['Hours Worked'].max() - df['Hours Worked'].min()

print(hrs_range)

28

#### Standard Deviation (SD)

The SD is a measurement of the average distance between each data value and the mean. You can consider SD as a measure of how spread out the data is from the mean. A low SD indicates that the data points are clustered around the mean, while a high SD indicates the data points are spread out over a wider range of values. 

<img src="https://d20khd7ddkh5ls.cloudfront.net/high_low_standard_deviation.png">

In [31]:
## Calculate the Standard Deviation of values in a column

print("Mean hours worked by all employees:", df["Hours Worked"].mean())

df["Hours Worked"].std()

Mean hours worked by all employees: 33.727727727727725

8.223453795492198

#### Percentiles

Percentiles give insight into the relation of one data point to other data points within the same dataset. When the data values are arranged from lowest to highest, percentiles represent the position of a value within the list of values. For example, if a value is at the 50th percentile - 50% of the data falls below the value, and 50% fall above the value. If a value is at the 85th percentile - 85% of the data falls below the value, and 15% fall above the value.

In [32]:
## Calculate percentiles of values in a column
## To determine the value that falls at a specific percentile
## np.percentile(data/column, percentile value)

np.percentile(df['Hours Worked'], 85)

## Determine which value falls at the 85th percentile? 
## 85% of the values in Hours Worked are below this value, 15% are above this value.

44.0

#### Quartiles 

Quartiles are values that divide a set of data into equal quarters (when the data is ordered from lowest to highest). There are <b>three</b> quartile values that divide the data into four parts (see below). 

<img src="quar.png">

* The first quartile (Q1) is at the 25th percentile (25% below, 75% above)
* The second quartile (Q2) is at the 50th percentile (50% below, 50% above, median)
* The third quartile (Q3) is at the 75th percentile (75% below, 25% above)

<b>Quartiles can be used to calculate the Interquartile Range (IQR) - which can be used to handle outliers in your dataset.</b>

In [33]:
## Determine the three quartiles of a set of data
## A quantile is a series of values, or cut points, that divide a set of data into equal parts 
## A 'quartile' is a specical kind of quantile that divides the data into four equal parts

df['Hours Worked'].quantile(.25) 

#Q1 = .25
#Q2 = .50
#Q3 = .75

27.0

#### All of the Above 

The describe function is perfect for outputting multiple descriptive statistics at once. This will save you multiple steps if you want to look at one or several quantitative variables.

In [34]:
## Use the describe function to view multiple statistics at the same time

df.describe()

       Hours Worked  Years Experience   Cars Sold
count    999.000000        999.000000  999.000000
mean      33.727728          3.026026    3.922923
std        8.223454          1.394709    1.527000
min       20.000000          1.000000    1.000000
25%       27.000000          2.000000    3.000000
50%       34.000000          3.000000    4.000000
75%       41.000000          4.000000    5.000000
max       48.000000          5.000000    7.000000

In [35]:
## Use the describe function to isolate information for a single column

df['Hours Worked'].describe()

count    999.000000
mean      33.727728
std        8.223454
min       20.000000
25%       27.000000
50%       34.000000
75%       41.000000
max       48.000000
Name: Hours Worked, dtype: float64

# { Exercise 3 }

    1. Using the pokemon dataset ('poke'), calculate the range for the HP column. 
    2. What is the mean and the standard deviation for the special attack (SpAtk) column?
    3. For the Attack column, determine which value falls at the 80th percentile? Which value falls at the 15th percentile? For each of these values, write a single sentence describing what this means. 
    4. Calculate the second quartile (or the median) for the special defense (SpDef) column. Then, calculate the median of the same column using the method shown above. Are the values the same?

In [36]:
poke = pd.read_csv("pokemon.csv")

poke.head()

,Num,Name,Type 1,Type 2,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False

In [37]:
#1
hp_range = poke['HP'].max() - poke['HP'].min()

print(hp_range)

240

In [43]:
#2
print("Mean:", poke["SpAtk"].mean())
poke["SpAtk"].std()

Mean: 67.13907284768212

28.53419930191353

In [63]:
#3
print(f"80 percentile:", np.percentile(poke['Attack'], 80))
print(f"15 percentile:", np.percentile(poke['Attack'], 15))

80 percentile: 95.0
15 percentile: 45.0

In [64]:
#4 
poke['SpDef'].quantile(.50)

65.0

In [65]:
#4
poke["SpDef"].median()

65.0

## Handling and Removing Outliers

***

Outliers are data points that differ significantly from other data points. Outliers are an important feature of a dataset that should be identified and addressed because extreme values can influence the results of your statistics. 

   * In a sample of 5 students, their ages are 25, 22, 97, 23, 21 - 97 is an outlier because the value differs significantly from the remaining data.
   * Without removing outlier, the mean is: 37.6 and the median is: 23
   * When removing the outlier, the mean is: 22.75 and the median is: 22.5

Determining which values are extreme can be challenging when you have a larger dataset. There are several methods that can be used to strategically determine which values are outliers, we will cover two separate methods below.

In [66]:
df = pd.read_csv("SalaryData.csv")
df.head()

,Employee,YearsExperience,Salary,Age,Gender,RemoteStatus,Region,CompanyCar,Shift,PerformanceReviewScore
0,Richard,5.1,66029,41,Female,0,Central,Y,2,98.3
1,Nick,5.9,8136300,39,Female,0,Central,Y,3,105.7
2,Morgan,9.5,116969,50,Female,1,Central,N,1,145.0
3,Susan,3.2,64445,27,Male,0,Central,Y,3,75.1
4,Matthew,8.2,113812,47,Female,1,Central,N,2,131.1

## Method 1 : Using z-scores to detect and remove outliers

In statistics, the <font color=salmon><b>Empirical Rule</b></font> estimates how data, following a normal distribution, will spread around the mean. According to this rule, basically all data values will fall within 3 SD's above or below the mean. The Empirical Rule is also known as the <font color=salmon><b>68-95-99.7 Rule</b></font> because according to this rule, your data will typically fall into the following pattern:

* 68% of the data falls within one SD of the mean

* 95% of the data falls within two SD's of the mean

* 99.7% of the data falls within three SD's of the mean

<img src="SD Bell Curve.jpeg">

#### Empirical Rule Example:

The average weight of an American man is 175 lbs with a SD of 10 lbs. According to the Empirical Rule, we can assume: 

* 68% of American men are between 165 and 185 lbs (or +/- 10 lbs from the mean, or 1 SD)
* 95% of American men are between 155 and 195 lbs (or +/- 20 lbs from the mean, or 2 SD's)
* 99.7% of American men are between 145 and 205 lbs (or +/- 30 lbs from the mean, or 3 SD's)
* Typically, data values that fall outside of this range are considered outliers
_______________________ 
A <font color=salmon><b>z-score</b></font>, also known as a standard score, measures the distance of a value from the mean. In other words, the z-score tells you how many SD's a given value is from the mean. Values that fall above the mean will have a positive (+) z-score, while values that fall below the mean will have a negative (-) z-score. Values that are far from the mean will be considered outliers. You can define a value as an outlier if the z-score greater than +/- 3. 
_______________________ 

#### Steps for Detecting and Removing Outliers with z-scores
* Import the scipy library to make use of the z-score function
* Calculate the z-score for each value within a specific column in your dataset
* Transform the z-score to the absolute value of the z-score (number without the +/- sign; this will make our code simpler)
* Add the z-scores to your dataset as a new column
* Remove all rows that have a z-score greater than 3

In [67]:
## Create a copy of your dataset to filter outliers
dfz = df.copy()

## Check original shape of the dataset
print(dfz.shape)

(30, 10)

In [68]:
## Create a new column to contain the z-scores for the employee salary
## Set the new column equal to the absolute value of the z-scores
## To calculate z-score -- stats.zscore(data/column name)
## To determine absolute value of z-score -- np.abs(data/function/options)

dfz["zscore_salary"] = np.abs(stats.zscore(dfz["Salary"]))

## Preview new column; optional
dfz.head()

,Employee,YearsExperience,Salary,Age,Gender,RemoteStatus,Region,CompanyCar,Shift,PerformanceReviewScore,zscore_salary
0,Richard,5.1,66029,41,Female,0,Central,Y,2,98.3,0.269844
1,Nick,5.9,8136300,39,Female,0,Central,Y,3,105.7,3.343557
2,Morgan,9.5,116969,50,Female,1,Central,N,1,145.0,0.247036
3,Susan,3.2,64445,27,Male,0,Central,Y,3,75.1,0.270553
4,Matthew,8.2,113812,47,Female,1,Central,N,2,131.1,0.248449

In [69]:
## Determine the index locations for the rows with zscores that are greater than "3"
z_outliers = dfz.loc[dfz["zscore_salary"] > 3].index

## Preview list of index values
print(z_outliers)

Int64Index([1, 28], dtype='int64')

In [70]:
## What information can we find at these index locations?

dfz.iloc[[1, 28]]

,Employee,YearsExperience,Salary,Age,Gender,RemoteStatus,Region,CompanyCar,Shift,PerformanceReviewScore,zscore_salary
1,Nick,5.9,8136300,39,Female,0,Central,Y,3,105.7,3.343557
28,Bill,7.1,9827300,36,Female,0,East,Y,3,116.8,4.100689

In [71]:
## Drop rows with above index values
dfz = dfz.drop(z_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(dfz.shape)

(28, 11)

## Method 2 : Using the Interquartile Range (IQR) to detect and remove outliers

The <font color=salmon><b>Interquartile Range (IQR)</b></font> is the difference between the first and third quartile in a set of data. The IQR can be considered where the bulk of the data values rest. IQR is calculated by the following equation: <B>IQR = Q3 - Q1</B>
<img src="IQR.png">
_____________________

The IQR can be used to create "fences" or cut-off values that determine which values fall outside of the acceptable data range. For example, we can calculate a lower-limit -- all values falling below this limit will be considered an outlier. The <b>1.5 Rule</b> is a commonly used method for determining the upper and lower cut-off limits. According to this rule, a value is considered an outlier if it falls:

* ... below Q1 - (1.5 x IQR)

* ... above Q3 + (1.5 x IQR)
_____________________

#### 1.5 Rule Example:

A professor is tracking the number of absences for each of their students. They have compiled a list of the number of absences: 

    1, 3, [4], 6, 7, [7], 8, 8, [9], 22, 37 

In this list of data, we can find the following values:

* Q1 = 4
* Q2 (median) = 7
* Q3 = 9

With these values, you can easily calculate the IQR:

* <B>IQR</B> = Q3(9) - Q1(4)
* <B>IQR</B> = 5

Once you have the IQR, you can calculate the upper and lower limits for detecting outliers:

* Upper Limit = Q3(9) + [1.5 * IQR(5)] = <b> 16.5 </b>
* Lower Limit = Q1(4) - [1.5 * IQR(5)] = <b> -3.5 </b>

Values that fall above the upper limit are outliers; values that fall below the lower limit are outliers
_______________________ 

#### Steps for Detecting and Removing Outliers with IQR

* Calculate quartiles
* Calculate IQR
* Determine upper and lower limits
* Drop values less than the lower and/or greater than the upper

In [72]:
## Create a copy of original dataset
dfq = df.copy()

## Check original shape of the dataset
dfq.shape

(30, 10)

In [73]:
## Calculate quartiles
q1 = dfq["Salary"].quantile(.25)
q3 = dfq["Salary"].quantile(.75)

print("Q1:", q1)
print("Q3:", q3)

Q1: 48265.0
Q3: 104512.0

In [74]:
## Calculate the IQR
iqr = q3 - q1

print("IQR:", iqr)

IQR: 56247.0

In [75]:
## Determine outlier fences 
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)


print("Upper Limit:", top)
print("Lower Limit:", bottom)

Upper Limit: 188882.5
Lower Limit: -36105.5

In [76]:
## Determine the index locations for rows that fall outside of outlier fences

iqr_outliers = dfq.loc[(dfq['Salary'] > top) | (dfq['Salary'] < bottom)].index

print("INDEX VALUES:", iqr_outliers)

INDEX VALUES: Int64Index([1, 12, 28], dtype='int64')

In [77]:
## what values can we find at these index locations?

dfq.iloc[[1, 12, 28]]

,Employee,YearsExperience,Salary,Age,Gender,RemoteStatus,Region,CompanyCar,Shift,PerformanceReviewScore
1,Nick,5.9,8136300,39,Female,0,Central,Y,3,105.7
12,Thomas,1.5,377310,46,Male,1,Central,Y,1,63.8
28,Bill,7.1,9827300,36,Female,0,East,Y,3,116.8

In [78]:
## Drop rows with above index values
dfq = dfq.drop(iqr_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(dfq.shape)

(27, 10)

# { Module 10 Homework }

1. Import the "babies.xlsx" dataset. See below for information on the columns:

    * bwt - birth weight of newborn baby
    * gestation	- gestation length (weeks)
    * parity - previously pregnant (0 = no; 1 = yes)
    * age - age of mother
    * height - height of mother (inches)	
    * weight - weight of mother (pounds)
    * smoke - smoking status of mother (0 = nonsmoker; 1 = smoker)

In [10]:
df = pd.read_excel("babies.xlsx")

df.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0    77.0    1.0
3  123        NaN       0  36.0    69.0   190.0    0.0
4  108      282.0       0  23.0    67.0   125.0    1.0

2. Preview the first few rows of the dataset. Complete the following checks for your dataset:

    * output the summary information for the dataset, what types of variables make up this dataset?
    * is there any missing data in this dataset?

In [11]:
df.info()
print(df.shape)
df.isnull().sum()
# we miss some data and 2 qualitative and the rest are quantitaive

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bwt        1236 non-null   int64
 1   gestation  1223 non-null   float64
 2   parity     1236 non-null   int64
 3   age        1234 non-null   float64
 4   height     1214 non-null   float64
 5   weight     1200 non-null   float64
 6   smoke      1226 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 67.7 KB
(1236, 7)

bwt           0
gestation    13
parity        0
age           2
height       22
weight       36
smoke        10
dtype: int64

3. Handle the missing data in the dataset -- there isn't much, so we can drop all the rows that have at least one missing value. How many rows were dropped from the dataset?

In [12]:
df.dropna(inplace = True)
print(df.shape)

(1174, 7)

4. There are two qualitative variables in this dataset. What are they? How do you know they are qualitative variables?

In [ ]:
#parity, smoke are qualitative because they have like boolian values

5. Replace the values in the qualitative variables with meaningful labels that describe the different groups. Use any method you've learned in previous modules to complete this task.

In [13]:
df.replace(0, "No", inplace = True)
df.replace(1, "Yes", inplace = True)
df
#or we can do it like df["smoke"].replace([0,1],['N', 'Y'], inplace=True)

      bwt  gestation parity   age  height  weight smoke
0     120      284.0     No  27.0    62.0   100.0    No
1     113      282.0     No  33.0    64.0   135.0    No
2     128      279.0     No  28.0    64.0    77.0   Yes
4     108      282.0     No  23.0    67.0   125.0   Yes
5     136      286.0     No  25.0    62.0    93.0    No
...   ...        ...    ...   ...     ...     ...   ...
1231  113      275.0    Yes  27.0    60.0   100.0    No
1232  128      265.0     No  24.0    67.0   120.0    No
1233  130      291.0     No  30.0    65.0    67.0   Yes
1234  125      281.0    Yes  21.0    65.0   110.0    No
1235  117      297.0     No  38.0    65.0   129.0    No

[1174 rows x 7 columns]

6. Before we move forward with any statistics, let's identify and remove any outliers from the dataset. Using the IQR method, search for outliers in the 5 numeric variables. This will take some time and organization, be careful with your code! Make sure you keep track of how many rows/outliers are removed.

In [14]:
df1= df.copy()
df1.shape

(1174, 7)

In [15]:
## Calculate quartiles for bwt - birth weight of newborn baby
q1 = df1["bwt"].quantile(.25)
q3 = df1["bwt"].quantile(.75)
print("Q1:", q1)
print("Q3:", q3)

## Calculate the IQR for bwt - birth weight of newborn baby
iqr = q3 - q1
print("IQR:", iqr)

## Determine outlier fences for  bwt - birth weight of newborn baby
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)
print("Upper Limit:", top)
print("Lower Limit:", bottom)

## Determine the index locations for rows that fall outside of outlier fences
iqr_outliers = df1.loc[(df1['bwt'] > top) | (df1['bwt'] < bottom)].index
print("INDEX VALUES:", iqr_outliers)

Q1: 108.0
Q3: 131.0
IQR: 23.0
Upper Limit: 165.5
Lower Limit: 73.5
INDEX VALUES: Int64Index([ 239,  309,  361,  462,  500,  529,  556,  594,  632,  709,  738,
             747,  829,  904,  912,  978, 1021, 1035, 1063, 1065, 1099, 1139,
            1148, 1169],
           dtype='int64')

In [16]:
## what values can we find at these index locations? bwt
df1.iloc[[239,  309,  361,  462,  500,  529,  556,  594,  632,  709,  738,
             747,  829,  904,  912,  978, 1021, 1035, 1063, 1065, 1099, 1139,
            1148, 1169]]

      bwt  gestation parity   age  height  weight smoke
261    81      256.0     No  30.0    64.0   148.0   Yes
332   103      273.0    Yes  22.0    64.0   110.0   Yes
388    98      275.0     No  25.0    65.0   112.0   Yes
497   101      289.0    Yes  31.0    60.0   125.0    No
537   147      277.0     No  30.0    68.0   160.0    No
566   133      280.0    Yes  25.0    61.0   130.0    No
593   118      297.0     No  35.0    68.0   140.0   Yes
632   176      293.0    Yes  19.0    68.0   180.0    No
676   100      275.0     No  26.0    60.0   115.0    No
757   155      279.0     No  33.0    61.0   125.0    No
787   125      272.0     No  30.0    60.0    96.0    No
796   152      286.0    Yes  19.0    67.0   135.0    No
881   128      272.0    Yes  18.0    67.0   109.0    No
958   133      290.0     No  21.0    64.0   145.0    No
967   119      273.0     No  35.0    65.0   125.0   Yes
1035   65      237.0     No  31.0    67.0   130.0    No
1079  119      286.0    Yes  33.0    67.0   137.0    No
1093  108      256.0    Yes  26.0    67.0   130.0    No
1121  128      277.0     No  39.0    61.0   120.0    No
1123  133      289.0     No  22.0    65.0   123.0   Yes
1157  141      293.0     No  28.0    61.0   125.0    No
1200   97      255.0    Yes  22.0    63.0   107.0   Yes
1209  144      283.0    Yes  25.0    66.0   140.0    No
1231  113      275.0    Yes  27.0    60.0   100.0    No

In [17]:
## Drop rows with above index values
df1 = df1.drop(iqr_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(df1.shape)

(1150, 7)

In [18]:
## Calculate quartiles for age colomn
q1 = df1["age"].quantile(.25)
q3 = df1["age"].quantile(.75)
print("Q1:", q1)
print("Q3:", q3)

## Calculate the IQR for age
iqr = q3 - q1
print("IQR:", iqr)

## Determine outlier fences for age 
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)
print("Upper Limit:", top)
print("Lower Limit:", bottom)

## Determine the index locations for rows that fall outside of outlier fences
iqr_outliers = df1.loc[(df1['age'] > top) | (df1['age'] < bottom)].index
print("INDEX VALUES:", iqr_outliers)

Q1: 23.0
Q3: 31.0
IQR: 8.0
Upper Limit: 43.0
Lower Limit: 11.0
INDEX VALUES: Int64Index([633, 1070], dtype='int64')

In [19]:
## what values can we find at these index locations? for age
df1.iloc[[633, 1070]]

      bwt  gestation parity   age  height  weight smoke
686   110      269.0     No  38.0    61.0   102.0    No
1151  106      264.0     No  41.0    64.0   114.0    No

In [20]:
## Drop rows with above index values
df1 = df1.drop(iqr_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(df1.shape)

(1148, 7)

In [24]:
df1.reset_index(drop=True)

      bwt  gestation parity   age  height  weight smoke
0     120      284.0     No  27.0    62.0   100.0    No
1     113      282.0     No  33.0    64.0   135.0    No
2     128      279.0     No  28.0    64.0    77.0   Yes
3     108      282.0     No  23.0    67.0   125.0   Yes
4     136      286.0     No  25.0    62.0    93.0    No
...   ...        ...    ...   ...     ...     ...   ...
1143  113      275.0    Yes  27.0    60.0   100.0    No
1144  128      265.0     No  24.0    67.0   120.0    No
1145  130      291.0     No  30.0    65.0    67.0   Yes
1146  125      281.0    Yes  21.0    65.0   110.0    No
1147  117      297.0     No  38.0    65.0   129.0    No

[1148 rows x 7 columns]

In [25]:
## Calculate quartiles for gestation - gestation length (weeks)
q1 = df1["gestation"].quantile(.25)
q3 = df1["gestation"].quantile(.75)
print("Q1:", q1)
print("Q3:", q3)

### Calculate the IQR for gestation - gestation length (weeks)
iqr = q3 - q1
print("IQR:", iqr)

## Determine outlier fences for  gestation - gestation length (weeks)
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)
print("Upper Limit:", top)
print("Lower Limit:", bottom)

## Determine the index locations for rows that fall outside of outlier fences
iqr_outliers = df1.loc[(df1['gestation'] > top) | (df1['gestation'] < bottom)].index
print("INDEX VALUES:", iqr_outliers)

Q1: 272.0
Q3: 288.0
IQR: 16.0
Upper Limit: 312.0
Lower Limit: 248.0
INDEX VALUES: Int64Index([   6,    7,   10,   59,   63,   66,  119,  129,  155,  188,  192,
             198,  210,  215,  217,  234,  240,  253,  260,  279,  345,  373,
             394,  440,  460,  484,  511,  523,  630,  685,  699,  710,  726,
             746,  761,  769,  778,  784,  828,  830,  833,  869,  927,  952,
             969, 1002, 1020, 1026, 1074, 1134, 1140, 1142, 1146, 1152, 1172,
            1178, 1199, 1206, 1207, 1217, 1219, 1226],
           dtype='int64')

In [ ]:
####df.reset_index(drop=True) to reset the index

In [28]:
df1.loc[[6, 7,10,59, 63, 66,  119,  129,  155,  188,  192,
             198,  210,  215,  217,  234,  240,  253,  260,  279,  345,  373,
             394,  440,  460,  484,  511,  523,  630,  685,  699,  710,  726,
             746,  761,  769,  778,  784,  828,  830,  833,  869,  927,  952,
             969, 1002, 1020, 1026, 1074, 1134, 1140, 1142, 1146, 1152, 1172,
            1178, 1199, 1206, 1207, 1217, 1219, 1226]]

      bwt  gestation parity   age  height  weight smoke
6     138      244.0     No  33.0    62.0   178.0    No
7     132      245.0     No  23.0    65.0   140.0    No
10    140      351.0     No  27.0    68.0   120.0    No
59     75      232.0     No  33.0    61.0   110.0    No
63    101      245.0     No  23.0    63.0   130.0   Yes
...   ...        ...    ...   ...     ...     ...   ...
1206  127      242.0     No  17.0    61.0   135.0   Yes
1207   87      247.0    Yes  18.0    66.0   125.0   Yes
1217  146      319.0     No  28.0    66.0   145.0    No
1219  110      321.0     No  28.0    66.0   180.0    No
1226  109      244.0    Yes  21.0    63.0   102.0   Yes

[62 rows x 7 columns]

In [29]:
## Drop rows with above index values
df1 = df1.drop(iqr_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(df1.shape)

(1086, 7)

In [30]:
## Calculate quartiles for height - height of mother (inches)
q1 = df1["height"].quantile(.25)
q3 = df1["height"].quantile(.75)
print("Q1:", q1)
print("Q3:", q3)

### Calculate the IQR for height - height of mother (inches)
iqr = q3 - q1
print("IQR:", iqr)

## Determine outlier fences for  height - height of mother (inches)
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)
print("Upper Limit:", top)
print("Lower Limit:", bottom)


## Determine the index locations for rows that fall outside of outlier fences
iqr_outliers = df1.loc[(df1['height'] > top) | (df1['height'] < bottom)].index
print("INDEX VALUES:", iqr_outliers)

Q1: 62.0
Q3: 66.0
IQR: 4.0
Upper Limit: 72.0
Lower Limit: 56.0
INDEX VALUES: Int64Index([434, 1208], dtype='int64')

In [32]:
df1.loc[[434, 1208]]

      bwt  gestation parity   age  height  weight smoke
434   146      263.0     No  39.0    53.0   110.0   Yes
1208  141      281.0     No  29.0    54.0   156.0   Yes

In [33]:
## Drop rows with above index values
df1 = df1.drop(iqr_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(df1.shape)

(1084, 7)

In [34]:
## Calculate quartiles for weight - weight of mother (pounds)
q1 = df1["weight"].quantile(.25)
q3 = df1["weight"].quantile(.75)
print("Q1:", q1)
print("Q3:", q3)

### Calculate the IQR for weight - weight of mother (pounds)
iqr = q3 - q1
print("IQR:", iqr)

## Determine outlier fences for  weight - weight of mother (pounds)
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)
print("Upper Limit:", top)
print("Lower Limit:", bottom)


## Determine the index locations for rows that fall outside of outlier fences
iqr_outliers = df1.loc[(df1['weight'] > top) | (df1['weight'] < bottom)].index
print("INDEX VALUES:", iqr_outliers)

Q1: 114.0
Q3: 137.0
IQR: 23.0
Upper Limit: 171.5
Lower Limit: 79.5
INDEX VALUES: Int64Index([   2,   14,   21,   23,   27,   41,   88,  117,  125,  147,  149,
             162,  180,  181,  183,  222,  287,  310,  314,  344,  411,  426,
             458,  509,  512,  522,  528,  563,  595,  608,  622,  695,  696,
             723,  733,  849,  858,  859,  865,  888,  911,  924,  935, 1008,
            1154, 1167, 1212, 1233],
           dtype='int64')

In [35]:
df1.loc[[   2,   14,   21,   23,   27,   41,   88,  117,  125,  147,  149,
             162,  180,  181,  183,  222,  287,  310,  314,  344,  411,  426,
             458,  509,  512,  522,  528,  563,  595,  608,  622,  695,  696,
             723,  733,  849,  858,  859,  865,  888,  911,  924,  935, 1008,
            1154, 1167, 1212, 1233]]

      bwt  gestation parity   age  height  weight smoke
2     128      279.0     No  28.0    64.0    77.0   Yes
14    114      273.0     No  30.0    63.0   498.0    No
21    115      274.0     No  27.0    67.0   175.0   Yes
23    122      276.0     No  30.0    68.0   182.0    No
27    114      266.0     No  20.0    65.0   175.0   Yes
41    110      278.0     No  23.0    63.0   177.0    No
88    125      305.0     No  22.0    70.0   196.0   Yes
117   131      283.0     No  25.0    67.0   215.0    No
125   115      283.0     No  25.0    61.0  1500.0   Yes
147   160      300.0     No  29.0    71.0   175.0   Yes
149   126      282.0     No  38.0    66.0   250.0    No
162   125      262.0     No  36.0    66.0   190.0    No
180   136      285.0     No  23.0    62.0   175.0    No
181   113      277.0     No  23.0    65.0   192.0   Yes
183   124      277.0     No  29.0    63.0   220.0    No
222   119      286.0     No  20.0    64.0   180.0    No
287   148      279.0     No  27.0    71.0   189.0    No
310   124      292.0     No  29.0    68.0   176.0   Yes
314   100      277.0     No  31.0    62.0   355.0   Yes
344   105      276.0     No  22.0    67.0   845.0    No
411   116      276.0     No  33.0    61.0   180.0    No
426   140      251.0     No  28.0    63.0   210.0    No
458    85      258.0     No  41.0    67.0   399.0    No
509   119      271.0     No  28.0    64.0   175.0   Yes
512   131      263.0     No  29.0    64.0   180.0   Yes
522   132      282.0     No  28.0    67.0   200.0   Yes
528   114      293.0    Yes  20.0    66.0   180.0   Yes
563   105      260.0     No  23.0    64.0   197.0    No
595   104      270.0     No  25.0    61.0   511.0    No
608   115      273.0    Yes  23.0    67.0   215.0   Yes
622    91      248.0     No  33.0    63.0   202.0    No
695   150      286.0     No  38.0    67.0   175.0    No
696    86      284.0     No  39.0    65.0   174.0   Yes
723   116      280.0     No  34.0    68.0   198.0    No
733    84      279.0     No  34.0    63.0   190.0    No
849   160      271.0     No  32.0    67.0   215.0    No
858   136      291.0     No  41.0    66.0   191.0    No
859   119      286.0     No  22.0    63.0   185.0   Yes
865   122      273.0     No  26.0    66.0   210.0    No
888   125      301.0    Yes  35.0    68.0   181.0    No
911   138      280.0    Yes  30.0    65.0   478.0    No
924   136      288.0     No  23.0    62.0   217.0    No
935    97      279.0     No  29.0    68.0   178.0   Yes
1008  143      285.0     No  27.0    68.0   185.0    No
1154  117      284.0     No  25.0    66.0   177.0   Yes
1167  104      267.0     No  30.0    63.0   180.0    No
1212  138      286.0    Yes  28.0    68.0    27.0    No
1233  130      291.0     No  30.0    65.0    67.0   Yes

In [36]:
## Drop rows with above index values
df1 = df1.drop(iqr_outliers)

## Re-check the shape of the dataframe, how many rows were dropped?
print(df1.shape)

(1036, 7)

7. Describe the characteristics of your qualitative variables by doing the following:

    * Determine the frequencies of each group within each categorical variable. Which groups have the highest frequency?
    * Determine the relative frequencies of each group within each categorical variable. Which groups have the highest relative frequencies?
    * Create a crosstab table using both the categorical variables in your dataset. How many mothers are smokers who have been pregnant before?

In [37]:
print(f"parity:", df1["parity"].value_counts())
print("*" *40)
print(f"smoke:", df1["smoke"].value_counts())

parity: No     754
Yes    282
Name: parity, dtype: int64
****************************************
smoke: No     631
Yes    405
Name: smoke, dtype: int64

In [38]:
print(f"parity:", df1["parity"].value_counts(normalize=True))
print("*" *40)
print(f"smoke:", df1["smoke"].value_counts(normalize=True))

parity: No     0.727799
Yes    0.272201
Name: parity, dtype: float64
****************************************
smoke: No     0.609073
Yes    0.390927
Name: smoke, dtype: float64

In [39]:
pd.crosstab(df1["parity"], df1["smoke"], margins=True, normalize=False)

smoke    No  Yes   All
parity
No      459  295   754
Yes     172  110   282
All     631  405  1036

8. Describe the Measures of Central Tendency (mean, median, mode) of the numeric variables in the dataset. Calculate the mean, median, and mode for all 5 numeric variables. For each median and mode, describe the following:

    * What does the median value tell you about the data?
    * What does the mode value tell you about the data?

In [40]:
print(f"The mean of bwt:", df1["bwt"].mean()) #all the values added and devide for the number of values
print(f"The median of bwt:", df1["bwt"].median()) #the middle value
print(f"The mode bwt:",df1["bwt"].mode()) #value most frequntily encounter

The mean of bwt: 120.17567567567568
The median of bwt: 120.0
The mode bwt: 0    117
Name: bwt, dtype: int64

9. Describe the Measures of Variability of the numeric variables in the dataset. Calculate the range, standard deviation, and 85th percentile for all 5 numeric variables. Answer the following questions:

    * Which column has the largest range? Which has the smallest? What does this mean?
    * Which column has the largest standard deviation? Which has the smallest? What does this tell you about those variables?

In [41]:
print(f"85th percentile of Bwt:", np.percentile(df1['bwt'], 85))
print(f"85th percentile of Gestation:", np.percentile(df1['gestation'], 85))
print(f"85th percentile of Age:", np.percentile(df1['age'], 85))
print(f"85th percentile of Height:", np.percentile(df1['height'], 85))
print(f"85th percentile of Weight:", np.percentile(df1['weight'], 85))

85th percentile of Bwt: 137.0
85th percentile of Gestation: 292.0
85th percentile of Age: 34.0
85th percentile of Height: 67.0
85th percentile of Weight: 145.0

In [42]:
bwt_range = df1['bwt'].max() - df1['bwt'].min()
gestation_range = df1['gestation'].max() - df1['gestation'].min()
age_range = df1['age'].max() - df1['age'].min()
height_range = df1['height'].max() - df1['height'].min()
weight_range = df1['weight'].max() - df1['weight'].min()
print(f"The Range of Bwt: {bwt_range} ")
print(f"The Range of Gestation: {gestation_range} ")
print(f"The Range of Age: {age_range} ")
print(f"The Range of Height: {height_range} ")
print(f"The Range of Weight: {weight_range} ")

The Range of Bwt: 90
The Range of Gestation: 64.0
The Range of Age: 28.0
The Range of Height: 16.0
The Range of Weight: 90.0

In [47]:
print(df1["bwt"].std())
print(df1["gestation"].std())
print(df1["age"].std())
print(df1["height"].std())
print(df1["weight"].std())

16.40437160501985
11.396403911826766
5.723814227977458
2.481215121299967
16.581045809853826